<div>
    <h2>Szczegóły kampanii</h2>
    <br/>
    <div class="table-responsive">
        <table class="jh-table table table-striped">
            <thead>
            <tr>
                <th><span>Dzień</span></th>
                <th><span>Godzina</span></th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="d in vm.data">
                <td>{{d.day}}</td>
                <td><span ng-repeat="h in d.hours" style="padding-right: 10px">{{h}}</span></td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
