<div>
    <h2 data-translate="advertiserApp.campaign.home.title">Campaigns</h2>
    <jhi-alert></jhi-alert>
    <br/>
    <div class="table-responsive">
        <table class="jh-table table table-striped">
            <thead>
            <tr>
                <th><span data-translate="advertiserApp.campaign.nameShort">Name Short</span></th>
                <th><span data-translate="advertiserApp.campaign.name">Name</span></th>
                <th><span data-translate="advertiserApp.campaign.product">Product</span></th>
                <th><span data-translate="advertiserApp.campaign.business">Business</span></th>
                <th><span data-translate="advertiserApp.campaign.startDate">Start Date</span></th>
                <th><span data-translate="advertiserApp.campaign.endDate">End Date</span></th>
                <th><span>Color</span></th>
                <th><span data-translate="advertiserApp.campaign.campaignState">Campaign State</span></th>
                <th><span data-translate="advertiserApp.campaign.priceSchedule">Price Schedule</span></th>
                <th><span data-translate="advertiserApp.campaign.spotAmount">Max Spot Amount</span></th>
                <th><span>Spot amount</span></th>
                <th></th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="c in vm.campaigns track by c.campaign.id">
                <td>{{c.campaign.nameShort}}</td>
                <td>{{c.campaign.name}}</td>
                <td>{{c.campaign.product}}</td>
                <td><span ng-bind="::getCampaignBusiness(c.campaign)"></span></td>
                <td>{{c.campaign.startDate | date:'medium'}}</td>
                <td>{{c.campaign.endDate | date:'medium'}}</td>
                <td class="input-color">
                    <div class="color-box-big"
                         ng-style="{'background-color': getColorHexFrom(c.campaign)}"></div>
                </td>
                <td><span ng-bind="::getCampaignStateNameFrom(c.campaign)"></span></td>
                <td><span ng-repeat="priceSchedule in c.campaign.priceSchedules">
                    <a class="form-control-static" ui-sref="price-schedulemySuffix-detail({id: priceSchedule.id})">{{priceSchedule.id}}</a>{{$last ? '' : ', '}}
                </span></td>
                <td>{{c.campaign.spotAmount}}</td>
                <td><span ng-bind="::c.amount" ng-class="{red: (c < c.campaign.spotAmount)}"></span></td>

                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit" class="btn btn-primary btn-sm" ui-sref="campaign-generate">
                            <span class="glyphicon glyphicon-pencil"></span>
                            <span>GENERUJ</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
