<div class="col-xl-12">
    <h2>Kampanie</h2>
    <br/>
    <div class="table-responsive">
        <table class="jh-table table table-striped">
            <thead>
            <tr>
                <th><span>Nazwa krótka</span></th>
                <th><span>Nazwa</span></th>
                <th><span>Login klienta</span></th>
                <th><span>Produkt</span></th>
                <th><span>Branża</span></th>
                <th><span>Data początku</span></th>
                <th><span>Data końca</span></th>
                <th><span>Kolor</span></th>
                <th><span>Stan</span></th>
                <th><span>Cennik</span></th>
                <th><span>Ilość maks</span></th>
                <th><span>Ilość</span></th>
                <th></th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="c in vm.campaigns track by c.campaign.id">
                <td>{{c.campaign.nameShort}}</td>
                <td>{{c.campaign.name}}</td>
                <td><span ng-bind="::getUserLogin(c.campaign)"></span></td>
                <td>{{c.campaign.product}}</td>
                <td><span ng-bind="::getCampaignBusiness(c.campaign)"></span></td>
                <td>{{c.campaign.startDate | date:'medium'}}</td>
                <td>{{c.campaign.endDate | date:'medium'}}</td>
                <td class="input-color">
                    <div class="color-box-big"
                         ng-style="{'background-color': getColorHexFrom(c.campaign)}"></div>
                </td>
                <td>{{c.campaign.campaignState.toLowerCase()}}</td>
                <td><span ng-repeat="priceSchedule in c.campaign.priceSchedules">
                    <a class="form-control-static" ui-sref="price-schedulemySuffix-detail({id: priceSchedule.id})">{{priceSchedule.id}}</a>{{$last ? '' : ', '}}
                </span></td>
                <td>{{c.campaign.spotAmount}}</td>
                <td><span ng-bind="::c.amount" ng-class="{red: (c.amount < c.campaign.spotAmount)}"></span></td>

                <td class="text-right" has-any-authority="ROLE_ADMIN, ROLE_INSPECTOR">
                    <div>
                        <button type="button" class="btn btn-default btn-sm"
                                ui-sref="campaign-client-details({campaignId: c.campaign.id})">
                            <span class="glyphicon glyphicon-eye-open"></span>
                            <span>Szczegóły</span>
                        </button>
                    </div>
                        <button type="button" class="btn btn-default btn-sm" has-authority="ROLE_ADMIN"
                                ui-sref="campaign-add-spotInfos({campaign: c.campaign})">
                            <span class="glyphicon glyphicon-plus"></span>
                            <span>Info o spocie</span>
                        </button>
                        <button type="submit" class="btn btn-primary btn-sm" has-authority="ROLE_ADMIN"
                                ng-show="((c.campaign.spotAmount - c.amount) > 0)"
                                ui-sref="campaign-generate({campaign: c.campaign, amount: c.amount})">
                            <span class="glyphicon glyphicon-arrow-right"></span>
                            <span>GENERUJ</span>
                        </button>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
