/*calendar-details*/
.edit-hidden {
    display: none;
}


/*campaignMySuffix*/
.input-color {
    position: relative;
}
.input-color input {
    padding-left: 20px;
}
.input-color .color-box {
    width: 10px;
    height: 10px;
    display: inline-block;
    background-color: #ccc;
    position: absolute;
    left: 5px;
    top: 5px;
}
.color-box-big {
    width: 20px;
    height: 20px;
    display: inline-block;
    background-color: #ccc;
    position: absolute;
    left: 15px;
    top: 25px;
}
.red {
    color: red;
    font-weight: bold;
}



/* centered columns styles */
.centered {
    align-content: center;
    margin-left:auto;
    margin-right:auto;
    display:block;
}
