<form name="editForm" role="form" ng-submit="vm.save()">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                ng-click="vm.clear()">&times;</button>
        <h3 class="modal-title">Details of {{vm.date}}, {{vm.hour}}:00</h3>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
            <dl class="dl-horizontal jh-entity-details"
                ng-repeat="spot in vm.spots | orderBy: 'spotNumber'" ng-hide="vm.spots.length <= 0">
                <dt>Spot {{spot.spotNumber}}</dt>
                <dd>
                    <span>{{spot.spotName}}</span>
                    <span>{{spot.campaignDTO.name}}</span>
                    <div>Spot info: {{spot.spotInfoId}}</div>

                    <span class="btn-group flex-btn-group-container">
                        <button type="submit" ng-hide="spot.spotNumber <= 1">
                            <span class="glyphicon glyphicon-chevron-up"></span>
                        </button>
                        <button type="submit" ng-hide="spot.spotNumber == vm.spots.length">
                            <span class="glyphicon glyphicon-chevron-down"></span>
                        </button>
                        <button type="submit"
                                ui-sref="calendar-details.edit({id:spot.id})"
                                class="btn btn-primary btn-sm">
                            <span class="glyphicon glyphicon-pencil"></span>
                        </button>
                        <button type="submit"
                                ui-sref="spotmySuffix.delete({id:spot.id})"
                                class="btn btn-danger btn-sm">
                            <span class="glyphicon glyphicon-trash"></span>
                        </button>
                    </span>
                </dd>
            </dl>
            <dl ng-hide="vm.spots.length >= 5">
                <dd class="no-padding-right">
                    <!--<span class="col-md-5">
                        <md-autocomplete md-autoselect="true"
                                         md-selected-item="selectedCampaign"
                                         md-items="item in vm.campaigns"
                                         md-search-text="searchText"
                                         md-item-text="item.name"
                                         md-min-length="0"
                                         placeholder="Wpisz kampanię...">
                            <md-item-template>
                                <span md-highlight-text="searchText">{{item.name}}</span>
                            </md-item-template>
                            <md-not-found>
                                Nie znaleziono kampanii: "{{searchText}}".
                            </md-not-found>
                        </md-autocomplete>
                    </span>
                    <span class="col-md-5">
                        <md-autocomplete md-autoselect="true"
                                         md-selected-item="selectedSpot"
                                         md-items="iItem in vm.spotInfos"
                                         md-search-text="searchText2"
                                         md-item-text="iItem.name"
                                         md-min-length="0"
                                         placeholder="Wpisz spot...">
                            <md-item-template>
                                <span md-highlight-text="searchText2" md-highlight-flags="^i">{{iItem.name}}</span>
                            </md-item-template>
                            <md-not-found>
                                Nie znaleziono info: "{{searchText}}".
                            </md-not-found>
                        </md-autocomplete>
                    </span>-->

                    <button class="btn btn-primary" type="submit" ng-disabled="editForm.$invalid || vm.isSaving">
                        <span class="glyphicon glyphicon-plus"></span>
                        <span>Add</span>
                    </button>
                </dd>
            </dl>
        </div>
</form>
