<form name="editForm" role="form" novalidate ng-submit="vm.save()">

    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                ng-click="vm.clear()">&times;</button>
        <h4 class="modal-title" id="myCampaignLabel">Edytuj kampanie</h4>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group">
            <label class="control-label" for="field_name">Name</label>
            <input type="text" class="form-control" name="name" id="field_name"
                    ng-model="vm.campaign.name"/>
        </div>
        <div class="form-group">
            <label class="control-label" for="field_nameShort">Name Short</label>
            <input type="text" class="form-control" name="nameShort" id="field_nameShort"
                    ng-model="vm.campaign.nameShort"/>
        </div>
        <div class="form-group">
            <label class="control-label" for="field_product">Product</label>
            <input type="text" class="form-control" name="product" id="field_product"
                    ng-model="vm.campaign.product"/>
        </div>
        <div class="form-group">
            <label class="control-label" for="field_spotAmount">Spot Amount</label>
            <input type="number" class="form-control" name="spotAmount" id="field_spotAmount"
                    ng-model="vm.campaign.spotAmount"/>
        </div>
        <div class="form-group">
            <label class="control-label" for="field_startDate">Start Date</label>
                <div class="input-group">
                    <input id="field_startDate" type="text" class="form-control" name="startDate" datetime-picker="{{dateformat}}"
                           ng-model="vm.campaign.startDate" is-open="vm.datePickerOpenStatus.startDate"/>
                    <span class="input-group-btn">
                        <button type="button" class="btn btn-default" ng-click="vm.openCalendar('startDate')">
                            <i class="glyphicon glyphicon-calendar"></i></button>
                    </span>
                </div>
        </div>
        <div class="form-group">
            <label class="control-label" for="field_endDate">End Date</label>
                <div class="input-group">
                    <input id="field_endDate" type="text" class="form-control" name="endDate" datetime-picker="{{dateformat}}"
                           ng-model="vm.campaign.endDate" is-open="vm.datePickerOpenStatus.endDate"/>
                    <span class="input-group-btn">
                        <button type="button" class="btn btn-default" ng-click="vm.openCalendar('endDate')">
                            <i class="glyphicon glyphicon-calendar"></i></button>
                    </span>
                </div>
        </div>

        <div class="form-group">
            <label>Color</label>
            <select class="form-control" id="field_campaignColor" name="campaignColor" ng-model="vm.campaign.color">
                <option ng-repeat="color in vm.colors"><div class="input-color"><div class="color-box"
                    ng-style="{'background-color': color.value}"></div>{{color.name}}</div></option>
            </select>
        </div>

        <div class="form-group">
            <label for="field_campaignState">Campaign State</label>
            <select class="form-control" id="field_campaignState" name="campaignState" ng-model="vm.campaign.campaignState"
                    ng-options="state as state for state in vm.states">
                <option value=""></option>
            </select>
        </div>
        <div class="form-group">
            <label for="field_business">Business</label>
            <select class="form-control" id="field_business" name="business" ng-model="vm.campaign.campaignBusiness"
                    ng-options="business.name for business in vm.businesses">
                <option value=""></option>
            </select>
        </div>
        <div class="form-group">
            <label for="field_priceSchedule">Price Schedule</label>
            <select class="form-control" id="field_priceSchedule" multiple name="priceSchedule" ng-model="vm.campaign.priceSchedules"
                    ng-options="priceSchedule as priceSchedule.id for priceSchedule in vm.priceschedules track by priceSchedule.id"></select>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="vm.clear()">
            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span>Anuluj</span>
        </button>
        <button type="submit" ng-disabled="editForm.$invalid || vm.isSaving" class="btn btn-primary">
            <span class="glyphicon glyphicon-save"></span>&nbsp;<span>Zapisz</span>
        </button>
    </div>
</form>
