<div class="col-xl-12">
    <div ng-click="resetPerMonth()">
        <h4>Wykresy kampanii i spotów w miesiącu:</h4>
        <div class=" form-group col-xl-12" >
            <div class="form-inline">
                <input type="number" class="form-control col-lg-6" ng-model="vm.year" min="2000" max="2050"/>
                <select class="form-control col-lg-6" ng-model="vm.selectedMonth" layout="row" layout-align="center"
                        ng-click="setMonth()">
                    <option ng-repeat="month in vm.months">{{month.name}}</option>
                </select>
            </div>
        </div>
        <div ng-show="vm.showPerMonth">
            <div id="campaignsPerMonthContainer" class="col-xl-12" style="width: 950px; height: 370px; margin: auto"></div>
            <div id="spotsPerMonthContainer" class="col-xl-12" style="width: 950px; height: 370px; margin: auto"></div>
        </div>
    </div>

    <div ng-click="resetPerYear()">
        <h4>Wykresy kampanii i spotów w roku:</h4>
        <div class="form-group col-xl-6">
            <div class="form-inline">
                <input type="number" class="form-control col-xl-6" ng-model="vm.year" min="2000" max="2050"/>
                <md-button class="btn-btn-primary" ng-click="setYear()">OK</md-button>
            </div>
        </div>
        <div ng-show="vm.showPerYear">
            <div id="campaignsPerYearContainer" class="col-xl-12" style="width: 950px; height: 370px; margin: auto"></div>
            <div id="spotsPerYearContainer" class="col-xl-12" style="width: 950px; height: 370px; margin: auto"></div>
        </div>
    </div>
</div>
