<div>
    <h2 data-translate="advertiserApp.spotInfo.home.title">Spot Infos</h2>
    <jhi-alert></jhi-alert>
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-4 no-padding-left">
                <button class="btn btn-primary"
                        ui-sref="campaign-add-spotInfos.new({campaign: vm.campaign})" >
                    <span class="glyphicon glyphicon-plus"></span>
                    <span  data-translate="advertiserApp.spotInfo.home.createLabel">
                        Create new Spot Info
                    </span>
                </button>
            </div>
        </div>
    </div>
    <br/>
    <div class="table-responsive">
        <table class="jh-table table table-striped">
            <thead>
            <tr>
                <th><span data-translate="advertiserApp.spotInfo.length">Length</span></th>
                <th><span data-translate="advertiserApp.spotInfo.filePath">File Path</span></th>
                <th><span data-translate="advertiserApp.spotInfo.producer">Producer</span></th>
                <th><span data-translate="advertiserApp.spotInfo.scenarioAuthor">Scenario Author</span></th>
                <th><span data-translate="advertiserApp.spotInfo.soundAuthor">Sound Author</span></th>
                <th><span data-translate="advertiserApp.spotInfo.performer">Performer</span></th>
                <th><span data-translate="advertiserApp.spotInfo.music">Music</span></th>
                <th></th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="spotInfo in vm.spotInfos track by spotInfo.id">
                <td>{{spotInfo.length}}</td>
                <td>{{spotInfo.filePath}}</td>
                <td>{{spotInfo.producer}}</td>
                <td>{{spotInfo.scenarioAuthor}}</td>
                <td>{{spotInfo.soundAuthor}}</td>
                <td>{{spotInfo.performer}}</td>
                <td>{{spotInfo.music}}</td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                ui-sref="campaign-add-spotInfos.edit({campaign: vm.campaign, id:spotInfo.id})"
                                class="btn btn-primary btn-sm">
                            <span class="glyphicon glyphicon-pencil"></span>
                            <span class="hidden-xs hidden-sm" data-translate="entity.action.edit"></span>
                        </button>
                        <button type="submit"
                                ng-click="delete(spotInfo)"
                                class="btn btn-danger btn-sm">
                            <span class="glyphicon glyphicon-remove-circle"></span>
                            <span class="hidden-xs hidden-sm" data-translate="entity.action.delete"></span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
